default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - App\Tests\Behat\GeneralContext
                - App\Tests\Behat\UserContext

                # API
                - App\Tests\Behat\Api\MainContext

                # Payments
                - App\Tests\Behat\Payments\MainContext

                # Customers
                - App\Tests\Behat\Customers\MainContext
                - App\Tests\Behat\Customers\AppContext

                # Products
                - App\Tests\Behat\Products\ApiContext
                - App\Tests\Behat\Products\AppContext

                # Prices
                - App\Tests\Behat\Prices\ApiContext
                - App\Tests\Behat\Prices\AppContext

                # Features
                - App\Tests\Behat\Features\AppContext

                # Subscriptions
                - App\Tests\Behat\Subscriptions\MainContext
                - App\Tests\Behat\Subscriptions\ApiContext

                # Subscription Plan
                - App\Tests\Behat\SubscriptionPlan\AppContext

                # Payment Details
                - App\Tests\Behat\PaymentDetails\MainContext
                - App\Tests\Behat\PaymentDetails\ApiContext
                - App\Tests\Behat\PaymentDetails\AppContext

                # Refund
                - App\Tests\Behat\Refund\MainContext


    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
