default:
    suites:
        default:
            contexts:
                - BillaBear\Tests\Behat\DemoContext
                - BillaBear\Tests\Behat\GeneralContext
                - BillaBear\Tests\Behat\UserContext

                # API
                - BillaBear\Tests\Behat\Api\MainContext

                # Payments
                - BillaBear\Tests\Behat\Payments\MainContext
                - BillaBear\Tests\Behat\Payments\ApiContext
                - BillaBear\Tests\Behat\Payments\AppContext

                # Customers
                - BillaBear\Tests\Behat\Customers\MainContext
                - BillaBear\Tests\Behat\Customers\AppContext

                # Products
                - BillaBear\Tests\Behat\Products\ApiContext
                - BillaBear\Tests\Behat\Products\AppContext

                # Prices
                - BillaBear\Tests\Behat\Prices\ApiContext
                - BillaBear\Tests\Behat\Prices\AppContext

                # Features
                - BillaBear\Tests\Behat\Features\AppContext

                # Subscriptions
                - BillaBear\Tests\Behat\Subscriptions\MainContext
                - BillaBear\Tests\Behat\Subscriptions\ApiContext
                - BillaBear\Tests\Behat\Subscriptions\MassChangeContext
                - BillaBear\Tests\Behat\Subscriptions\EventsContext

                # Subscription Plan
                - BillaBear\Tests\Behat\SubscriptionPlan\AppContext

                # Payment Details
                - BillaBear\Tests\Behat\PaymentDetails\MainContext
                - BillaBear\Tests\Behat\PaymentDetails\ApiContext
                - BillaBear\Tests\Behat\PaymentDetails\AppContext

                # Refund
                - BillaBear\Tests\Behat\Refund\ApiContext
                - BillaBear\Tests\Behat\Refund\MainContext

                # ChargeBack
                - BillaBear\Tests\Behat\ChargeBacks\AppContext

                # Receipt
                - BillaBear\Tests\Behat\Receipt\AppContext

                # Credit Notes
                - BillaBear\Tests\Behat\CreditNote\AppContext

                # Invoices
                - BillaBear\Tests\Behat\Invoices\AppContext
                - BillaBear\Tests\Behat\Invoices\CreateInvoiceContext

                # Settings
                - BillaBear\Tests\Behat\Settings\PdfTemplatesContext
                - BillaBear\Tests\Behat\Settings\BrandsContext
                - BillaBear\Tests\Behat\Settings\EmailTemplatesContext
                - BillaBear\Tests\Behat\Settings\NotificationSettingsContext
                - BillaBear\Tests\Behat\Settings\SystemSettingsContext
                - BillaBear\Tests\Behat\Settings\UserManagementContext
                - BillaBear\Tests\Behat\Settings\ApiKeyContext
                - BillaBear\Tests\Behat\Settings\TaxSettingsContext
                - BillaBear\Tests\Behat\Settings\InvoiceSettingsContext

                # Stats
                - BillaBear\Tests\Behat\Stats\MainContext
                - BillaBear\Tests\Behat\Stats\SubscriptionsContext
                - BillaBear\Tests\Behat\Stats\FinancialContext

                # Reports
                - BillaBear\Tests\Behat\Reports\ExpiringCards\AppContext


                # Background Jobs
                - BillaBear\Tests\Behat\Background\ExpiringCards\MainContext
                - BillaBear\Tests\Behat\Background\Invoice\MainContext
                - BillaBear\Tests\Behat\Background\Payments\MainContext

                #Vouchers
                - BillaBear\Tests\Behat\Vouchers\AppContext
                - BillaBear\Tests\Behat\Vouchers\ApiContext

                # Tax
                - BillaBear\Tests\Behat\Tax\CustomerContext
                - BillaBear\Tests\Behat\Tax\InvoiceContext
                - BillaBear\Tests\Behat\Tax\ProductContext
                - BillaBear\Tests\Behat\Tax\CountryContext
                - BillaBear\Tests\Behat\Tax\TaxTypeContext
                - BillaBear\Tests\Behat\Tax\ReportContext

                # Quoutes
                - BillaBear\Tests\Behat\Quote\AppContext

                # Developer
                - BillaBear\Tests\Behat\Developer\WebhookContext

                # Public
                - BillaBear\Tests\Behat\Public\InvoiceContext

                # Checkout
                - BillaBear\Tests\Behat\Checkout\MainContext

                # System
                - BillaBear\Tests\Behat\System\CancellationRequestContext

                # Integrations
                - BillaBear\Tests\Behat\Integrations\SlackIntegrationContext

                # Stripe Interopt Layer - Remove?
                - BillaBear\Tests\Behat\Interopt\Stripe\SubscriptionsContext

                # Workflow
                - BillaBear\Tests\Behat\Workflow\CancellationRequestContext

                # Usage
                - BillaBear\Tests\Behat\Usage\MetricContext
                - BillaBear\Tests\Behat\Usage\EventContext
                - BillaBear\Tests\Behat\Usage\EstimateContext
                - BillaBear\Tests\Behat\Usage\LimitsContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                path: src/BillaBear/Kernel.php
                class: BillaBear\Kernel
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
