@tailwind preflight;
@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    a {
        @apply text-blue-600 underline;
    }
}

/*
body {
    @apply bg-cyan-50;
}

.rounded-sm { border-radius: 0.125rem; }
.rounded { border-radius: 0.25rem; }
.rounded-md { border-radius: 0.375rem; }


#app {

}

.header{
}

.page {
}
.page-container {
    @apply flex justify-center;
}
.page-content {
    width: 90%;
}

.page-header {
    @apply bg-amber-500;-webkit-box-shadow: 0px 5px 6px 3px rgba(0,0,0,0.34);
    box-shadow: 0px 5px 6px 3px rgba(0,0,0,0.34);
}

.menu-group-title {
    @apply font-medium text-xl text-slate-900 mb-3;
}

.menu-list {
}

.menu-item {
    @apply inline-block;
}

.menu-link {
    @apply pl-2 p-2 w-full inline-block hover:bg-amber-300;
}

.submenu-container {
    @apply mt-5 rounded-lg border border-amber-500 bg-white;
}

.submenu-title {
    @apply text-xl font-bold p-5;
}

.submenu-link {
    @apply text-black font-bold hover:bg-slate-50 px-5 py-2 w-full inline-block;
}
.submenu-link.router-link-exact-active {
    @apply bg-slate-50;
}
.submenu-list-item {
}

.menu-link.router-link-active {
    @apply bg-amber-600;
}

.main-background {
}

.dashboard-sidebar {
    @apply flex flex-col lg:w-80 md:sticky top-0 left-0 lg:h-screen px-4 py-8 overflow-y-auto lg:shadow-md bg-white;
}

.page-title {
    @apply text-3xl;
}

.card-body {
    @apply rounded-xl bg-white p-5 w-full border border-amber-500;
}

.body-panel {
    @apply rounded-xl bg-white w-full shadow;
}

.border-r-1 {
    border-right-width: 1px;
}

.submenu-list-item {
    @apply my-2;
}

.submenu {
    @apply inline-block rounded-xl p-2 text-black font-bold no-underline w-full  hover:text-slate-800 hover:no-underline hover:bg-blue-50 hover:text-slate-600;
}


.h1 {
    @apply text-2xl font-medium;
}

.h2 {
    @apply text-xl font-medium;
}

.h3 {
    @apply text-xl font-medium;
}

.btn--main {
    @apply items-center justify-center no-underline w-1/2 px-2 py-1 text-sm tracking-wide text-white transition-colors duration-200 bg-amber-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-amber-400 dark:hover:bg-blue-500 dark:bg-blue-600;
}

.btn--main:disabled {
    @apply items-center justify-center cursor-not-allowed no-underline w-1/2 px-2 py-1 text-sm tracking-wide text-white transition-colors duration-200 bg-amber-400 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-amber-400 dark:hover:bg-blue-500 dark:bg-blue-600;
}

.btn--danger {
    @apply items-center justify-center no-underline w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-red-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-red-600 dark:hover:bg-red-500 dark:bg-red-600;
}

.btn--danger:disabled {
    @apply items-center justify-center no-underline w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-red-200 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-red-200  cursor-not-allowed dark:hover:bg-red-400 dark:bg-red-500 cursor-not-allowed;
}

.btn--secondary {
    @apply items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700;
}

.btn--secondary--main {
    @apply inline items-center justify-center w-1/2 pl-3 pr-2 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border-y border-l rounded-l-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700;
}
.btn--secondary--menu {
    @apply inline items-center justify-center pl-2 pr-3 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border-y border-r rounded-r-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700;
}

.btn--secondary:hover {
    @apply bg-blue-500 text-white;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.top-button-container {
    @apply mb-4 text-end;
}

.form-input-field {
    @apply p-2 border rounded-xl;
}

.badge--green {
    @apply text-white font-bold bg-green-500 p-1 rounded;
}

.badge--red {
    @apply text-white font-bold bg-red-500 p-1 rounded;
}


.label {
    @apply block text-gray-700 font-medium mt-2;
}

.form-error {
    @apply border-red-500 border-2 bg-red-100 !important;
}

.form-field {
    @apply border border-slate-400 p-2 rounded-lg;
}

.menu-link {
    @apply no-underline text-black hover:text-slate-800 hover:no-underline;
}

.form-field-error {
    @apply text-red-500 text-xs italic mb-2;
}

.form-field-ctn {
    @apply w-full md:w-1/2 px-3 mb-6 md:mb-0 pt-2;
}

.form-field-lbl {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}

.form-field-input {
    @apply appearance-none block w-full text-black bg-amber-50 border border-amber-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
}

.form-field-help {
    @apply text-gray-600 text-xs italic;
}

.form-field-submit-ctn {
    @apply mt-3;
}

.list-btn {
    @apply items-center justify-center no-underline w-1/2 px-2 py-1 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600;
}

.list-table {
    @apply min-w-full divide-y divide-gray-200 dark:divide-gray-700 mb-5;
}
.list-table thead,tfoot tr {
    @apply dark:bg-gray-800;
}

.list-table thead th {
    @apply py-2 px-2 bg-amber-500 font-extrabold text-sm font-bold text-left rtl:text-right text-white dark:text-gray-400;
}

.list-table tfoot th {
    @apply py-2 px-2 bg-amber-500 font-extrabold text-sm font-bold text-left rtl:text-right text-white dark:text-gray-400;
}


.list-table tbody {
    @apply bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900;
}

.list-table td {
    @apply px-2 py-1 text-sm whitespace-nowrap;
}
.list-table tbody tr:nth-child(even) {
     @apply bg-amber-50  hover:bg-sky-50;
 }
.list-table tbody tr:nth-child(odd) {
    @apply bg-white hover:bg-sky-50;
}

.list-table thead th:first-child {
    @apply rounded-tl-xl;
}
.list-table tfoot th:first-child {
    @apply rounded-bl-xl;
}
.list-table thead th:last-child {
    @apply rounded-tr-xl;
}
.list-table tfoot th:last-child {
    @apply rounded-br-xl;
}



.list {
    @apply mt-5;
    display: inline-block;
}
.list_container {
    text-align: left;
    transition: height .4s ease;
    position: absolute;
    z-index: 1;
    background: white;

    @apply p-5 rounded-xl	border-slate-50 shadow-xl;
    float: left;
    right: 80px;
}
.list_container li {padding : 30px;}

.filter_field {
    @apply rounded-lg border-black p-2 bg-slate-50 border;
}


.error-page {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.section-header {
    @apply bg-amber-500 font-bold p-2 rounded-t-xl;
}

.section-body {
    @apply p-2 border border-amber-500 rounded-b-xl bg-white;
}
*/


.sidebar-menu-item {
    @apply flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700;
}

.router-link-active {
    @apply flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700  bg-gray-100 dark:bg-gray-700;
}


.submenu-list-item {
    @apply inline;
}


.submenu-container {
    @apply  border-b;
}
.submenu-container ul {
    @apply p-5;
}

.submenu-link {
    @apply hover:bg-gray-300 dark:text-gray-100 dark:hover:bg-gray-600 text-black p-3 rounded-lg no-underline;
}

.submenu-list-item {
    @apply mt-4 hover:bg-gray-50;
}
.card-body {
    @apply p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800;
}

.btn--main, .list-btn {
    @apply text-white bg-primary-700 no-underline  hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
}

.btn--disabled {
    @apply opacity-50 cursor-not-allowed;
}

.btn--secondary {
    @apply px-3 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
}

.btn--danger {
    @apply inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900;
}

.form-field-input {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
}

.page-title {
    @apply mb-5 text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white ml-5 mt-5;
}

.form-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
}

.form-field-lbl {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}

.form-field-help {
    @apply mt-1 mb-1 text-black italic text-sm dark:text-white;
}

.crud-list-table {
    @apply min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600;
}

.crud-list-table thead {
    @apply bg-gray-100 dark:bg-gray-700;
}

.crud-list-table thead th {
    @apply p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400;
}

.crud-list-table tbody {
    @apply bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700;
}

.crud-list-table tbody tr {
    @apply hover:bg-gray-100 dark:hover:bg-gray-700;
}

.crud-list-table tbody td {
    @apply p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white;
}

.top-button-container {
    @apply text-end px-5;
}
.section-header {
    @apply mb-3 dark:text-gray-300;
}
.detail-list {
}

.detail-list div:nth-child(even) {
    @apply  py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0;
}

.detail-list div:nth-child(odd) {
    @apply  py-1 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0;
}

.detail-list dt {
    @apply text-sm font-medium text-gray-500;
}

.detail-list dd {
    @apply mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0;
}

.list-table {
    @apply w-full mt-5;
}
.list-table thead {
     @apply bg-gray-100 dark:bg-gray-700;
 }

.list-table thead th {
    @apply p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400;
}

.list-table tbody {
    @apply bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700;
}

.list-table tbody tr {
    @apply hover:bg-gray-100 dark:hover:bg-gray-700;
}

.list-table tbody td {
    @apply p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white;
}

.login {
}

.input-field {
    @apply bg-transparent border rounded-lg text-slate-600 font-medium w-full backdrop-blur-lg p-2;
}

.public-form-body {
    @apply rounded-xl w-full md:max-w-screen-sm;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.animate-fade-in {
    animation: fadeIn 1s;
}

.animate-fade-out {
    animation: fadeOut 1s;
}

.alert-error {
    @apply bg-red-300 p-3 w-full border font-bold rounded-xl border-red-700 text-red-700;
}
.alert-success {
    @apply bg-green-300 p-3 w-full border font-bold rounded-xl border-green-700 text-green-700;
}

.chart-button {
    @apply inline p-2 border bg-white hover:bg-gray-100 cursor-pointer  dark:text-white dark:bg-gray-700 dark:hover:bg-gray-500;
}

.chart-button-selected {
    @apply bg-gray-100 dark:bg-gray-500 cursor-not-allowed;
}
.filter_field {
    @apply mr-2 rounded;
}

.btn--container {
    @apply inline-block w-full text-center no-underline items-center px-3 py-2 text-sm font-medium text-center text-black bg-white hover:bg-gray-50 rounded-lg border focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-400 dark:bg-gray-700 dark:hover:bg-gray-500;

}

.detail-list dd {
    @apply text-black dark:text-white;
}
.error-message {
    @apply block text-red-500;
}