<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BillaBear</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('public') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('public') }}
        {% endblock %}
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
