<html>
<head>
    <title></title>
</head>
<body style="background: rgb(254,234,0);
background: radial-gradient(circle, rgba(254,234,0,1) 0%, rgba(246,156,0,1) 100%);; color: black;">

<div style="padding-top: 40px;">
    <div style="margin:auto; background-color: white; max-width: 700px; padding: 50px; border-radius: 15px; margin-top: 40px; ">
        <p style="text-align:center;"><img src="https://ha-static-data.s3.eu-central-1.amazonaws.com/github-readme-logo.png" alt="BillaBear" /></p>

        <h1 style="text-align: center">Invite</h1>
        <p>You've been invited to use BillaBear for {{ brand_name }}.</p>

        <p style="text-align: center; margin-top: 50px;margin-bottom: 50px;"><a href="{{ invite_url }}" style="font-size: 150%; background-color: rgba(246,156,0,1); padding: 10px; border-radius: 15px; color: white; text-decoration: none; ">Create Account</a></p>
    </div>

</div>


</body>
</html>